<h1 class="dashboard">Welcome to the Task Manager</h1>

<div class ="container dashboard">

<a href="/tasks"><button type="button" class="task-btn">Task Index</a></button>

<a href="/tasks/new"><button type="button" class="task-btn">New Task</a></button>

<a href="/delete"><button type="button" class="task-btn">Delete Task</a></button>
</div>